<!-- view containing project info -->
<br/>
<div class="row">
  <div class="col-lg-7 col-md-6 col-sm-10 col-xs-10">
    <p class="lead"><b>Music Application</b></p>
    <p class="text-justify">
      This is an angularJs Single page music application comprising several views.
    </p>
    <br/>
    <div>
       <p class="lead"><b>Features:</b></p>
       <p>View all music tracks in Listview.</p>
       <p>Add music track with details like Title, Genres, Rating.</p>
       <p>Add a new genre with its name.</p>
       <p>Edit specific track and genre.</p>
    </div>
    <br/>
    <p class="lead"><b>Technologies used</b></p>
    <p>
      Html, Css, Javascript, Bootstrap, Ui.bootstrap, AngularJS.
    </p>
  </div>
</div>
<br/><br/>